*{
    padding: 0;
    margin: 0;
}
:root{
    --black :#1d1a1a;
    --white:#f8f8f8;
    --blue:#2c2ce7;
    --green:#61e0ab;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
}
.box-header{
    padding: 20px 0 0 50px;
    font-family: 'Roboto', sans-serif;
    color:var(--white) ;
    display: flex;
    background-color:var(--black);
}
#num{
    font-family: 'Roboto', sans-serif;
    padding: 1px 5px;
    border-radius: 20px;
    background-color:var(--blue);
    color: var(--white);
}
.box-image{
    margin: 0 0 0 70%;
}
.num-box{
    display: none;
}